{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <script>
        function flash_upload_msg() {
            alert("Starting the file upload, this could take a while...");
        }
    </script>
    <div>
        <form action="upload/" method="post" enctype="multipart/form-data" onsubmit="flash_upload_msg()">
            {% csrf_token %}
            <input
                    type="file"
                    id="excel_sheet"
                    name="products"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            >
            <input type="submit">
        </form>
    </div>
    {{ block.super }}
{% endblock %}
