{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <form action="upload/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input
                    type="file"
                    id="excel_sheet"
                    name="products"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            >
            <input type="submit">
        </form>
    </div>
    {{ block.super }}
{% endblock %}
